.bloop/
.bsp/
.idea/
bin/
build/
dist/
node_modules/
project/project/
target/
.metals
.cache
.cache-main
.classpath
.history
.project
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
meta.json
